<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.ControllerServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>controller.ControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/ControllerServlet</url-pattern>
        <url-pattern>/category</url-pattern>
        <url-pattern>/product</url-pattern>
        <url-pattern>/addToCart</url-pattern>
        <url-pattern>/viewCart</url-pattern>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <description>JSP configuration for the store front</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/contact.jsp</url-pattern>
            <url-pattern>/login.jsp</url-pattern>
            <url-pattern>/register.jsp</url-pattern>
            <url-pattern>/category.jsp</url-pattern>
            <url-pattern>/product.jsp</url-pattern>
            <url-pattern>/single.jsp</url-pattern>
            <url-pattern>/checkout.jsp</url-pattern>
            <url-pattern>/typo.jsp</url-pattern>
            <url-pattern>/404.jsp</url-pattern>
            <url-pattern>/wishlist.jsp</url-pattern>
            <url-pattern>/viewCart.jsp</url-pattern>
            <!-- và các trang khác -->
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <!-- optional for admin GUI -->
        <jsp-property-group>
            <description>JSP configuration for the admin console
            </description>
            <url-pattern>/admin/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/eMarket</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
